# ───────────────
# Python
# ───────────────
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# venv / virtualenv
env/
venv/
.venv/

# ───────────────
# VS Code
# ───────────────
.vscode/

# ───────────────
# Base de données SQLite
# ───────────────
culture.db
*.db
*.sqlite

# ───────────────
# Config sensible
# ───────────────
.env
.env.local
